<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <title>梅長蘇個人網頁</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='to-do-list.css') }}">
</head>
<body>
    <header>
        <h1>梅長蘇個人網頁</h1>
        <nav>
            <ul class="nav">
                <li><a href="/">Home</a></li>
                <li><a href="/to-do-list">to-do-list</a></li>
                <li><a href="/resume">梅長蘇簡歷</a></li>
                <li><a href="/contact">留言給梅長蘇</a></li>
                <li><a href="/rwd_sample">切換不同裝置</a></li>
                <li><a href="https://kh934124.neocities.org/2025.pdf" download="2025.pdf" target="_blank" onclick="alert('感謝您的下載！')">下載2025行事曆 PDF</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>To-Do List</h1>
        <form id="todo-form">
            <input type="text" id="new-task" placeholder="Add a new task...">
            <button type="submit">Add Task</button>
        </form>
        <ul id="task-list">
            <!-- 任務項目將會顯示在這裡 -->
        </ul>
    </main>
    <footer>© 2024 Your Website</footer>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
